<ng-template #editForm let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit Project</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <div class="row" id="projectEdit">
            <section>
                <form #edForm="ngForm" (ngSubmit)="onUpdate()">
                    <div class="form-group mb-6">
                        <label for="project_name" class="form-label">Project Name:</label>
                        <input name="project_name" type="text" class="form-control" id="project_name" name="project_name" [(ngModel)]="project.project_name" required>
                    </div>
                    <div class="form-group mb-6">
                        <label for="project_description" class="form-label">Project Description:</label>
                        <input name="project_description" type="text" class="form-control" id="project_description" name="project_description" [(ngModel)]="project.project_description" required>
                    </div>
                    <div class="form-group mb-6">
                        <label for="project_tools" class="form-label">Tools used:</label>
                        <input name="project_tools" type="text" class="form-control" id="project_tools" name="project_tools" [(ngModel)]="project.project_tools" required>
                    </div>
                    <div class="form-group mb-6">
                        <label for="project_start" class="form-label">Year:</label>
                        <input name="project_start" type="text" class="form-control" id="project_start" name="project_start" [(ngModel)]="project.project_start" required>
                    </div>
                    <div class="form-group mb-6">
                        <label for="project_img_url" class="form-label">Image:</label>
                        <input name="project_img_url" type="text" class="form-control" id="project_url" name="project_url" [(ngModel)]="project.project_url" required>
                    </div>
                    <div class="form-group mb-6">
                        <label for="project_url" class="form-label">Project URL:</label>
                        <input name="project_url" type="text" class="form-control" id="project_url" name="project_url" [(ngModel)]="project.project_url" required>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="submit " class="btn btn-success">Save
            <fa-icon [icon]="saveIcon " aria-label="Save " aria-expanded="Save"></fa-icon>
        </button>
        <button type="button " class="btn btn-danger " (click)="modal.close() ">Cancel</button>
    </div>
</ng-template>