<section class="container">
    <div class="col-md-8" *ngIf="study">
        <div class="row mt-5">
            <div class="col-md-8 mx-auto">
                <form (ngSubmit)="onUpdate()" novalidate #updateStudy="ngForm">
                    <div class="form-group">
                        <label for="studies_title">Title</label>
                        <input type="text" class="form-control" id="studies_title" name="studies_title" [(ngModel)]="study.studies_title" required>
                    </div>
                    <div class="form-group">
                        <label for="studies_institute">Institute</label>
                        <input type="text" class="form-control" id="studies_institute" name="studies_institute" [(ngModel)]="study.studies_institute" required>
                    </div>
                    <div class="form-group">
                        <label for="studies_year">Year:</label>
                        <input type="text" class="form-control" id="studies_year" name="studies_year" [(ngModel)]="study.studies_year" required>
                    </div>
                    <div class="form-group">
                        <label for="studies_logo">Logo URL:</label>
                        <input type="text" class="form-control" id="studies_logo" name="studies_logo" [(ngModel)]="study.studies_logo" required>
                    </div>
                    <div class="d-grid gap-2 form-group mt-4">
                        <button class="btn btn-outline-success btn-block" [disabled]="!updateStudy.valid">
                                <i class="fas fa-refresh"></i> Update
                            </button>
                        <button class="btn btn-outline-primary btn-block" routerLink="/portfolio/all">
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>