<section class="container">
    <div class="row">
        <div class="">
            <h5 class="text-left fw-bolder">
                Projects
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <ul *ngFor="let projects of projectsList">
                <li class="card-text">
                    {{projects.project_name}}
                </li>
                <p class="card-text">
                    {{projects.project_description}}
                </p>
                <p class="card-text">
                    {{projects.developed_with}}
                </p>
                <p class="card-text">
                    Year: {{projects.project_start}} - {{projects.project_end}}
                </p>
            </ul>
        </div>
        <div class="col-sm-4" *ngIf="isLogged">
            <a href="">
                <fa-icon [icon]="editIcon " aria-label="Edit" aria-expanded="Edit" (click)="edit"></fa-icon>
            </a>
            <a href="">
                <fa-icon [icon]="deleteIcon " aria-label="Delete " aria-expanded="Delete "></fa-icon>
            </a>
            <a href="">
                <fa-icon [icon]="addIcon" aria-label="Add project" aria-expanded="Add Project"></fa-icon>
            </a>
        </div>
    </div>
</section>

<ng-template #edit>
    <div>
        <h3>Edit Project</h3>
    </div>
</ng-template>