#user {
    width: 10%;
    margin-left: 10%;
    margin-top: -6%;
    border: 35px;
}

@media screen and (max-width: 915px) {
    img#user {
        width: 15%;
        margin-left: 42%;
        margin-top: 2%;
        border: 35px;
    }
    div#personalData {
        text-align: center;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    #user {
        width: 25%;
        margin-top: 10%;
        margin-left: 40%;
    }
}