<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2b2c2c;">
    <div class="container">
        <div class="col-sm-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navArgPrograma" aria-controls="navArgPrograma" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand" href="#"><img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png" class="img-fluid"></a>
        </div>
        <div class="col-md-8 text-center" *ngIf="isLogged">
            Logged as: {{this.nombreUsuario}}
        </div>
        <div class="col-sm-2">
            <div class="collapse navbar-collapse" id="navArgPrograma">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="https://ar.linkedin.com/in/pablo-guinazu" class="nav-link">
                            <fa-icon [icon]="iconLinkedIn"></fa-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/pitux" class="nav-link">
                            <fa-icon [icon]="iconGitHub"></fa-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" title="Login" class="nav-link" routerLink="auth/login" *ngIf="!isLogged">
                            <fa-icon [icon]="iconLogin " aria-label="Login " aria-expanded="Login "></fa-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
                        <a class="nav-link" style="cursor: pointer;" title="Logout">
                            <fa-icon [icon]="salir" aria-label="Logout" aria-expanded="Logout"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--
<ng-template #loggedOut>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="assets/user.png" class="img-fluid rounded-circle" alt="login">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate id="login">
                        <div class="form-outline mb-4">
                            <label for="nombreusuario">Username</label>
                            <input type="text" name="nombreusuario" id="nombreusuario" class="form-control" [(ngModel)]="nombreUsuario" required autocomplete="username">
                        </div>
                        <div class="form-outline mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required autocomplete="current-password">
                        </div>

                        <p>
                            <button class="btn btn outline success btn-block" [disabled]="!loginForm.valid">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>Login</button>
                        </p>
                    </form>

                    <div *ngIf="loginForm.submitted && isLoginFail" class="alert alert-danger mt-3">
                        Error de login
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>
-->